<p>
  <b>Applicant:</b>
  <%=h @application.applicant.Name %>
</p>

<p>
  <b>Job Oppertunity:</b>
  <%=h @application.job_oppertunity.JobTitle %>
</p>

<p>
  <b>Sendingdate:</b>
  <%=h @application.SendingDate %>
</p>


<%= link_to 'Back', applications_path %>