<%if session[:loggedCustomer]%>
	
<%else%>
<br>
<center>
	Please <a href="/">sign in</a> first to continue with check out
	<br>
	If you are not register yet.<a href="/customers/new">Sign up</a> please

</center>
<%end%>