<H1>UDSPC</H1>
<b>Address</b> <br>
<small>
34 Somestreet<br>
Someplace<br>
Any Town<br>
USA<br>
</small>
<br>
<b>Telephones</b> <br>
(+1) 345 - 1223 - 23<br>
(+1) 345 - 5433 - 24<br>
(+1) 345 - 5544 - 25<br>
<br>
<b>Fax</b> <br>
(+1) 345 - 1223 - 24<br>
<br>
<b>e-mail</b> <br>
support@udspc.com<br>

<br>
<b>web-site</b> <br>
http://www.udspc.com<br>